<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-8 offset-2">
        <form method="POST" action="/listings/<%= listing._id %>?_method=PUT"
            class="needs-validation" novalidate>
            <br>
            <h1>Edit List Form</h1>
            <br>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]"
                    value="<%= listing.title %>" class="form-control" required>
                <div class="invalid-feedback">Title should be valid!</div>

            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" name="listing[description]"
                    value="<%= listing.description %>" class="form-control"
                    required>
                <div class="invalid-Feedback">Description should be Valid!</div>

            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="Price" class="form-label">Price</label>
                    <input type="number" name="listing[price]"
                        value="<%= listing.price %>" class="form-control"
                        required>
                    <div class="invalid-Feedback">Price should be Valid!</div>

                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country Name</label>
                    <input type="text" name="listing[country]"
                        value="<%= listing.country %>" class="form-control"
                        required>
                    <div class="invalid-Feedback">Country Name should be
                        Valid!</div>

                </div>

            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]"
                    value="<%= listing.location %>" class="form-control"
                    required>
                <div class="invalid-Feedback">Location should be Valid!</div>

            </div>

            <button class="subForm">Submit</button>

        </form>

    </div>
</div>